# Node modules (for both client and server)
client/node_modules/
server/node_modules/

# Logs
*.log
npm-debug.log*

# dotenv files
client/.env
server/.env
.env

# OS files
.DS_Store
Thumbs.db

# Build directories
client/build/
client/dist/
server/dist/

# IDE folders
.vscode/
.idea/
